.button {
  font-family: 'Varela Round', sans-serif;
  color: rgb(255, 37, 37);
  font-size: 2rem;
  outline: none;
  cursor: pointer;
  border: 0;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: 1px -1px 1px rgba(150, 150, 150, 1);
  text-shadow: 2px -1px 1px rgba(150, 150, 150, 1);
}
